server {
    listen 80;
    # server_name ec2-13-233-45-15.ap-south-1.compute.amazonaws.com;
    root /home/ec2-user/silsilah/public;

    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
        fastcgi_pass unix:/run/php-fpm/www.sock; # Adjusted to your PHP-FPM socket path
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }

    location ~ /\.ht {
        deny all;
    }
}