files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/10_setup_storage.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/staging
      if [ ! -L public/storage ]; then
        php artisan storage:link
      fi
      chown -R webapp:webapp storage bootstrap/cache
      chmod -R 775 storage bootstrap/cache

container_commands:
  01_optimize:
    command: "php artisan optimize"
